*.class
*.log
*.iml
*.ipr
*.iws
*.tasty
.idea
.idea/
/.idea
.bsp
.bsp/
/src/intellij*/*.iml
/src/intellij*/*.ipr
/src/intellij*/*.iws
**/.cache
/.settings
out
.cache/
.history/
.lib/
dist/*
bin/
libexec/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
logs/
project/*-shim.sbt
project/project/
project/target/
.scala_dependencies
.worksheet
.tasty
.swp
.history3
/target/
/target/scala-3.1.1/
/target/streams/
